<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title clearfix mb-0">{{'screen.subscription.title.subscriptions' | translate}}</h4>
            </div>
            <div class="col-sm-7">
              <div class="float-right">
                <a class="btn btn-primary ml-3" routerLink="./new-subscription"><i class="icon-plus"></i>&nbsp;&nbsp;{{'screen.subscription.button.new' | translate}}</a>
              </div>
            </div>
          </div>
          <hr/>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label for="pesquisa" class="col-md-3 col-form-label">{{'screen.subscription.label.searchBy' | translate}}</label>
                  <input type="text" id="pesquisa" class="col-md-9 form-control" 
                  placeholder="{{'screen.subscription.placeholder.searchBy' | translate}}"
                  [(ngModel)]="searchKeyword">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="dateToFilter">{{'screen.commons.label.filterBy' | translate}}</label>
                      <select class="col custom-select  form-control form-control-md" id="dateToFilter" name="dateToFilter"
                      
                      [(ngModel)]="dateToFilter" required>
                      <option value="EXPIRATION" >{{'screen.commons.label.expirationDate' | translate}}</option>
                      <option value="PAYMENT">{{'screen.commons.label.paymentDate' | translate}}</option>
                      </select>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-md-3"></div>
                    <div class="col">
                      <div class="row text-right">
                        <input type="text" class="form-control" id="startDate"
                        bsDatepicker
                        [(ngModel)]="bsStartDate"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue'}"/>
                        <small class="text-muted">{{'screen.subscription.label.startDate' | translate}}</small>
                      </div>
                    </div>
                    <div class="col ml-3 float-right">
                      <div class="row text-right">
                        <input type="text" class="form-control" id="endDate"
                        bsDatepicker 
                        [(ngModel)]="bsEndDate"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }">
                        <small class="text-muted">{{'screen.subscription.label.endDate' | translate}}</small>
                      </div>
                    </div>  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="inline-radios">{{'screen.subscription.label.status' | translate}}</label>
                  <div class="col-md-10 col-form-label row">
                    <div class="form-check form-check-inline mr-2">
                      <input class="form-check-input" type="radio" id="inline-checkbox1" name="status" value="" [(ngModel)]="status" checked>
                      <label class="form-check-label" for="inline-checkbox1">{{'screen.subscription.label.statusType.all' | translate}}</label>
                    </div>
                    <div class="form-check form-check-inline mr-2">
                      <input class="form-check-input" type="radio" id="inline-checkbox2" name="status" [value]="subscriptionStatus.open" [(ngModel)]="status">
                      <label class="form-check-label" for="inline-checkbox2">{{'screen.subscription.label.statusType.open' | translate}}</label>
                    </div>
                    <div class="form-check form-check-inline mr-2">
                      <input class="form-check-input" type="radio" id="inline-checkbox3" name="status" [value]="subscriptionStatus.canceled" [(ngModel)]="status">
                      <label class="form-check-label" for="inline-checkbox3">{{'screen.subscription.label.statusType.canceled' | translate}}</label>
                    </div>
                    <div class="form-check form-check-inline mr-2">
                      <input class="form-check-input" type="radio" id="inline-checkbox4" name="status" [value]="subscriptionStatus.suspended" [(ngModel)]="status">
                      <label class="form-check-label" for="inline-checkbox4">{{'screen.subscription.label.statusType.suspended' | translate}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="float-right">
                  <button class="btn btn-secondary btn-ladda" data-style="zoom-out" [ladda]="loaderService.isLoading('subscriptionSearchButton')" (click)="searchSubscription(0)"><i class="fa fa-search"></i> &nbsp; {{'screen.subscription.label.search' | translate}}</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12">
      <div class="form-group float-right">
          <small class="form-text">{{'screen.commons.label.pageRegister' | translate}}</small>
          <select 
          class="custom-select form-control form-control-sm" 
          id="pageSize" 
          name="pageSize" 
          [(ngModel)]="pageSize"
          (change)="searchSubscription(pagingService?.page.number);" [disabled]="subscriptionList.length < 1">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          </select>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="subscriptionList.length < 1">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row ">
              <div class="col-md-12 text-center">
                <span class="text-muted ">{{'screen.commons.text.emptySearch' | translate}}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngFor="let subscription of subscriptionList; let i = index">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 text-right">
              <div class="text-truncate font-weight-bold mb-2 ">
                  <span [ngClass]="[(subscription?.status == subscriptionStatus.suspended) ? 'bg-danger pl-3 pt-1 pr-3 pb-1' : '',
                                    (subscription?.status == subscriptionStatus.open) ? 'bg-secondary pl-3 pt-1 pr-3 pb-1' : '',
                                    (subscription?.status == subscriptionStatus.canceled) ? 'bg-light pl-3 pt-1 pr-3 pb-1' : '']">
                                    {{statusConverterService.convertSubscriptionStatus(subscription?.status)}}</span>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                <div class="text-truncate font-weight-bold mb-2">{{subscription?.customer?.name}}</div>
                <div class="text-truncate"><i class="fa fa-address-card-o"></i>&nbsp;{{subscription?.customer?.documentType?.name}}:&nbsp;{{subscription?.customer?.documentNumber  | mask:subscription?.customer?.documentType?.webMask}}</div>
                <div class="" *ngIf="subscription?.customer?.email"><i class="fa fa-envelope-o"></i>&nbsp; {{subscription?.customer?.email}}</div>

              </div>
              <div class="col-md-4 text-right align-self-end">
                <div class="text-truncate mb-1">{{'screen.subscription.label.frequencyType' | translate}}: <span class="bg-secondary pl-3 pt-1 pr-3 pb-1">{{converterService.frequencyTypeConvert(subscription?.frequencyType)}}</span></div>
                <div class="text-truncate mb-1">{{'screen.subscription.label.expirationDay' | translate}}: <span class="bg-secondary pl-3 pt-1 pr-3 pb-1">{{subscription?.expirationDay}}</span></div>
                <div class="text-truncate mb-1">{{'screen.subscription.label.amount' | translate}}: <span class="bg-secondary pl-3 pt-1 pr-3 pb-1">{{subscription?.amount | currency:formatService.getCurrencyFormat()}} </span></div>
              </div>

              <div class="col-md-4 text-right">
                  <div class="text-truncate mb-1">{{'screen.subscription.label.createdInvoices' | translate}}: <span class="bg-secondary pl-3 pt-1 pr-3 pb-1">{{subscription?.createdInvoices}}</span></div>
                <div class="text-truncate mb-1">{{'screen.subscription.label.paidInvoices' | translate}}: <span class="bg-success pl-3 pt-1 pr-3 pb-1">{{subscription?.paidInvoices}}</span></div>
                <div class="text-truncate mb-1">{{'screen.subscription.label.expiredInvoices' | translate}}: <span class="bg-danger  pl-3 pt-1 pr-3 pb-1">{{subscription?.expiredInvoices}}</span></div>
                <div class="text-truncate mb-1">{{'screen.subscription.label.canceledInvoices' | translate}}: <span class="bg-warning  pl-3 pt-1 pr-3 pb-1">{{subscription?.canceledInvoices}}</span></div>
              </div>

          </div>
        </div>
        <div class="card-footer text-right">
          <button type="button" class="btn btn-secondary btn-sm" 
            (click)="abrirModal('subscriptionModal'); preencheModal(subscription)">
            <i class="fa fa-info"></i>
            <span class="d-none d-sm-inline ml-1"> {{'screen.commons.button.details' | translate}}</span>
          </button>
          
          <button type="button" class="btn btn-danger btn-sm" *ngIf="subscription.status == subscriptionStatus.open"
            (click)="suspendSubscription(subscription.token)">
            <i class="fa fa-ban"></i>
            <span class="d-none d-sm-inline ml-1">{{'screen.subscription.button.suspend' | translate}}</span>
          </button>  

          <button type="button" class="btn btn-success btn-sm" *ngIf="subscription.status == subscriptionStatus.suspended"
            (click)="reopenSubscription(subscription.token)">
            <i class="fa fa-check"></i>
            <span class="d-none d-sm-inline ml-1"> {{'screen.subscription.button.reactivate' | translate}} </span>
          </button>  


          <button type="button" class="btn btn-danger btn-sm" 
            *ngIf="subscription.status != subscriptionStatus.canceled"
            (click)="loadSubscriptionToCancel(subscription); abrirModal('cancelationModal')">
            <i class="fa fa-times-rectangle"></i>
            <span class="d-none d-sm-inline ml-1"> {{'screen.commons.button.cancel' | translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center" *ngIf="subscriptionList.length > 0">
    <div class="col-md-4">
      <ul class="pagination mt-2">
          <li class="page-item" [ngClass]="{'disabled' : pagingService?.getPrevPage() == -1}"><a class="page-link" (click)="searchSubscription(0)" >{{'screen.commons.button.first' | translate}}</a></li>
        <li class="page-item" [ngClass]="{'disabled' : pagingService?.getPrevPage() == -1}"><a class="page-link" (click)="searchSubscription(pagingService?.getPrevPage())" >{{'screen.commons.button.previous' | translate}}</a></li>
        <li class="page-item" *ngFor="let number of pagingService?.page?.pageNumbersList" [ngClass]="{'active' : (number == pagingService?.page.number)}" ><a class="page-link" *ngIf="pagingService?.showNumber(number)" (click)="searchSubscription(number)">{{number + 1 }}</a></li>
        <li class="page-item" [ngClass]="{'disabled' : pagingService?.getNextPage() == -1}"><a class="page-link" (click)="searchSubscription(pagingService?.getNextPage())" >{{'screen.commons.button.next' | translate}}</a></li>
        <li class="page-item" [ngClass]="{'disabled' : pagingService?.getNextPage() == -1}"><a class="page-link" (click)="searchSubscription(pagingService?.page.totalPages - 1)" >{{'screen.commons.button.last' | translate}}</a></li>
      </ul>
    </div>
  </div>     
</div>

<ng-template #cancelationModal>
  <div class="modal-header bg-danger">
    <h4 class="modal-title">{{'screen.subscription.message.confirmation.cancelInvoice' | translate}}</h4>
    <button type="button" class="close" (click)="closeModal('cancelationModal');" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{'screen.subscription.label.customer' | translate}}: <strong>{{subscriptionToCancel?.customer.name}}</strong><br/>
      {{subscriptionToCancel?.customer?.documentType?.name}}: <strong>{{subscriptionToCancel?.customer?.documentNumber | mask: subscriptionToCancel?.customer?.documentType?.webMask}}</strong><br/>
      {{'screen.subscription.label.description' | translate}}: <strong>{{subscriptionToCancel?.description}}</strong><br/>
      {{'screen.subscription.label.amount' | translate}}: <strong>{{subscriptionToCancel?.amount | currency: formatService.getCurrencyFormat()}}</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal('cancelationModal');">{{'screen.commons.button.cancel' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="cancelSubscription(subscriptionToCancel?.token); closeModal('cancelationModal');">{{'screen.commons.button.confirm' | translate}}</button>
  </div>
</ng-template><!-- /.modal -->

<ng-template #subscriptionModal >
            <div class="modal-header bg-primary">
                <h4 class="modal-title">{{'screen.subscription.title.subscriptionDetails' | translate}}</h4>
                <button type="button" class="close" (click)="closeModal('subscriptionModal');" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h5 class="text-muted">{{'screen.subscription.label.customer' | translate}}</h5>
                    </div>
                    <div class="col-sm-5 text-right">
                        <button class="btn btn-secondary" (click)="subscriptionUpdate = !subscriptionUpdate" *ngIf="canUpdateSubscription()">
                          {{'screen.commons.button.edit' | translate}}
                        </button>
                    </div>
                </div>
                <hr/>
              <form #updateForm="ngForm" (ngSubmit)="updateSubscription()" autocomplete="off">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="customerName">{{'screen.subscription.label.name' | translate}}</label>
                            <input type="text" class="form-control form-control-sm" id="customerName" name="customerName"
                            [ngModel]="subscriptionToShow.customer.name" 
                            disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="documentNumber">{{'screen.subscription.label.document' | translate}}</label>
                            <div class="controls">
                                <div class="input-prepend input-group input-group-sm">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text">{{subscriptionToShow?.customer?.documentType?.name}}</span>
                                  </div>
                                  <input type="text" class="form-control form-control-sm" id="documentNumber" name="documentNumber"
                                  mask="{{subscriptionToShow?.customer?.documentType?.webMask}}"
                                  [ngModel]="subscriptionToShow.customer.documentNumber" 
                                  disabled>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">{{'screen.subscription.label.email' | translate}}</label>
                            <input type="text" class="form-control form-control-sm" id="email" name="email"
                            [ngModel]="subscriptionToShow.customer.email" disabled>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <h5 class="text-muted">{{'screen.subscription.label.invoice' | translate}}</h5>
                        <hr/>
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="subscriptionDescription">{{'screen.subscription.label.description' | translate}} <span class="required-mark">*</span></label>
                      <textarea type="text" class="col form-control" id="subscriptionDescription" name="subscriptionDescription"
                      rols="4" maxlegth="100"
                      [(ngModel)]="subscriptionToShow.description" 
                      [disabled]="!subscriptionUpdate" required></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="description">{{'screen.subscription.label.documentNumber' | translate}}</label>
                      <input type="text" class="col form-control form-control-sm text-right" id="subscriptionDocumentNumber" name="subscriptionDocumentNumber"
                      onlyNumbers
                      maxlength="10"
                      [(ngModel)]="subscriptionToShow.documentNumber" 
                      [disabled]="!subscriptionUpdate">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="" for="amount">{{'screen.subscription.label.amount' | translate}} <span class="required-mark">*</span></label>
                      <div class="controls">
                        <div class="input-prepend input-group input-group-sm">
                          <div class="input-group-prepend">
                          <span class="input-group-text">{{formatService.getCurrencyFormat()}}</span>
                          </div>
                          <input type="text" class="form-control form-control-sm" id="amount" name="amount"
                          currencyMask 
                            [options]="{ 
                              prefix: '', 
                              thousands: formatService.getCurrencyThousandsFormat(), 
                              decimal: formatService.getCurrencyDecimalFormat()}"
                          [(ngModel)]="subscriptionToShow.amount" 
                          [disabled]="!subscriptionUpdate" required/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="" for="frequencyType">{{'screen.subscription.label.frequencyType' | translate}}</label>
                      <input type="text" class="form-control form-control-sm text-right" id="frequencyType" name="frequencyType"
                        [ngModel]="converterService.frequencyTypeConvert(subscriptionToShow?.frequencyType)" disabled />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="" for="expirationDay">{{'screen.subscription.label.expirationDay' | translate}} <span class="required-mark">*</span></label>
                      <input type="number" class="form-control form-control-sm text-right" id="expirationDay" name="expirationDay"
                      size="2" max="31" min="1"
                      [(ngModel)]="subscriptionToShow.expirationDay" [disabled]="!subscriptionUpdate" required/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group ">
                        <label for="endDate" >{{'screen.newSubscription.label.endDate' | translate}} </label>
                        <input type="text" class="col form-control" id="endDate" name="endDate"
                        [minDate]="minDate"
                        bsDatepicker
                        [(ngModel)]="subscriptionToShow.endDate" 
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue'}"
                        [disabled]="!subscriptionUpdate">
                    </div>
                  </div>
                 
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="" for="expiredInvoices">{{'screen.subscription.label.expiredInvoices' | translate}}</label>
                      <input type="text" class="form-control form-control-sm text-right" id="expiredInvoices" name="expiredInvoices"
                      [ngModel]="subscriptionToShow.expiredInvoices" disabled />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="" for="paidInvoices">{{'screen.subscription.label.paidInvoices' | translate}}</label>
                      <input type="text" class="form-control form-control-sm text-right" id="paidInvoices" name="paidInvoices"
                      [ngModel]="subscriptionToShow.paidInvoices" disabled />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="" for="cancelledInvoices">{{'screen.subscription.label.canceledInvoices' | translate}}</label>
                      <input type="text" class="form-control form-control-sm text-right" id="cancelledInvoices" name="cancelledInvoices"
                      [ngModel]="subscriptionToShow.canceledInvoices" disabled />
                    </div>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-md-12">
                    <table class="table table-sm table-responsive-sm table-hover table-outline mb-0">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">{{'screen.subscription.label.invoice' | translate}}</th>
                          <th class="text-center">{{'screen.subscription.label.expirationDate' | translate}}</th>
                          <th class="text-center">{{'screen.subscription.label.amount' | translate}}</th>
                          <th class="text-center">{{'screen.subscription.label.status' | translate}}</th>
                          <th class="text-center">{{'screen.subscription.label.detail' | translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let invoice of subscriptionToShow.invoices; let i = index">
                          <td class="text-center">
                            {{invoice.instalment}}
                          </td>
                          <td class="text-center">
                            {{invoice.expirationDate | date:formatService.getDateFormat()}}
                          </td>
                          <td class="text-center">
                            {{invoice.amount  | currency:formatService.getCurrencyFormat()}}
                          </td>
                          <td class="text-center">
                            {{statusConverterService.convertInvoiceStatus(invoice.status)}}
                          </td>
                          <td class="text-center">
                            <button type="button" class="btn btn-link btn-sm" 
                              (click)="preencheInvoiceModal(invoice); abrirModal('invoiceModal');">
                              <i class="fa fa-eye" ></i>
                            </button>
                            <button type="button" class="btn btn-link btn-sm" 
                              (click)="loadInvoiceAlerts(invoice?.token); abrirModal('alertsModal');">
                              <i class="fa fa-exclamation"></i>
                            </button>
                            <button type="button" class="btn btn-link btn-sm" *ngIf="invoice.status == invoiceStatus.open"
                              (click)="loadInvoiceToSend(invoice); abrirModal('resendModal');">
                              <i class="fa fa-paper-plane-o"></i>
                            </button>
                            <button type="button" class="btn btn-link btn-sm" *ngIf="invoice.status == invoiceStatus.open"
                              (click)="printInvoice(invoice?.token)">
                              <i class="fa fa-print"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-secondary" (click)="closeModal('subscriptionModal'); subscriptionUpdate = false">Fechar</button>
                    <button type="submit" class="btn btn-primary" *ngIf="subscriptionUpdate">{{'screen.commons.button.save' | translate}}</button>
                  </div>
                </div>
            </form>
          </div>
</ng-template>

<ng-template #alertsModal>
        <div class="modal-header bg-primary">
          <h4 class="modal-title">{{'screen.subscription.label.alertHistory' | translate}}</h4>
          <button type="button" class="close" (click)="closeModal('alertsModal'); cleanInvoiceAlerts();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-secondary mb-2 text-center clearfix" *ngIf="invoiceAlertList.length < 1">{{'screen.invoice.message.info.alertListEmpty' | translate}}</div>
            <div class="alert alert-info mb-2 clearfix" *ngFor="let invoiceAlert of invoiceAlertList">
              <div class="pull-left float-left">
                  <i class="fa fa-envelope mr-2" *ngIf="invoiceAlert.mediaType == 'EMAIL'"></i>
                  <i class="fa fa-paper-plane mr-2" *ngIf="invoiceAlert.mediaType == 'SMS'"></i>
                 <strong>{{invoiceAlert.mediaType}}</strong> | {{alertTypeConverterService.convert(invoiceAlert?.alertType?.code)}} 
              </div>
              <div class="text-muted float-right pull-right pl-1 pr-1">{{invoiceAlert.creationDate | date:'dd/MM/yyyy H:mm'}}</div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal('alertsModal'); cleanInvoiceAlerts();">{{'screen.commons.button.close' | translate}}</button>
          
        </div>
</ng-template><!-- /.modal -->

<ng-template #resendModal>
        <div class="modal-header bg-primary">
          <h4 class="modal-title">{{'screen.invoice.message.confirmation.resendInvoice' | translate}}</h4>
          <button type="button" class="close" (click)="closeModal('resendModal')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{'screen.invoice.label.customer' | translate}}: <strong>{{invoiceToResend?.customer.name}}</strong><br/>
            {{invoiceToResend?.customer?.documentType?.name}}: <strong>{{invoiceToResend?.customer?.documentNumber | mask: invoiceToResend?.customer?.documentType?.webMask}}</strong><br/>
            {{'screen.invoice.label.description' | translate}}: <strong>{{invoiceToResend?.description}}</strong><br/>
            {{'screen.invoice.label.amount' | translate}}: <strong>{{invoiceToResend?.amount | currency: formatService.getCurrencyFormat()}}</strong><br/>
            {{'screen.invoice.label.expirationDate' | translate}}: <strong>{{invoiceToResend?.expirationDate | date: formatService.getDateFormat()}}</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal('resendModal')">Cancelar</button>
          <button type="button" class="btn btn-info" (click)="sendInvoice(invoiceToResend?.token); closeModal('resendModal')">Confirmar</button>
        </div>
      </ng-template><!-- /.modal -->

   <ng-template #invoiceModal>
      <div class="modal-header bg-primary">
          <h4 class="modal-title">{{'screen.invoice.label.invoiceDetails' | translate}}</h4>
          <button type="button" class="close" (click)="closeModal('invoiceModal')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-sm-7">
                  <h5 class="text-muted">{{'screen.invoice.label.customer' | translate}}</h5>
              </div>
              <div class="col-sm-5 text-right">
                <button class="btn btn-secondary" (click)="invoiceUpdate = !invoiceUpdate" *ngIf="canUpdateInvoice()">
                  {{'screen.commons.button.edit' | translate}}
                </button>
              </div>
          </div>  
          <hr/>
          <form>
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="customerName">{{'screen.invoice.label.name' | translate}}</label>
                      <input type="text" class="form-control form-control-sm" id="customerName" name="customerName"
                      [ngModel]="invoiceToShow?.customer?.name" disabled>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="documentNumber">{{invoiceToShow?.customer?.documentType?.name}}</label>
                      <input type="text" class="form-control form-control-sm" id="documentNumber" name="documentNumber"
                      mask="{{invoiceToShow?.customer?.documentType?.webMask}}" 
                      [ngModel]="invoiceToShow?.customer?.documentNumber" disabled>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="email">{{'screen.invoice.label.email' | translate}}</label>
                      <input type="text" class="form-control form-control-sm" id="email" name="email"
                      [ngModel]="invoiceToShow?.customer?.email" disabled>
                  </div>
              </div>
          </div>

          <div class="row mt-2">
              <div class="col-sm-12">
                  <h5 class="text-muted">{{'screen.invoice.label.details' | translate}}</h5>
                  <hr/>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="description">{{'screen.invoice.label.documentNumber' | translate}}</label>
                        <input type="text" class="col form-control form-control-sm" id="invoiceDocumentNumber" name="invoiceDocumentNumber"
                        onlyNumbers
                        maxlength="10"
                        [ngModel]="invoiceToShow?.documentNumber" 
                        (input)="invoiceToShow.documentNumber = $event.target.value"
                        [disabled]="!invoiceUpdate">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                        <label for="description">{{'screen.invoice.label.description' | translate}}</label>
                        <textarea type="text" class="col form-control form-control-sm" id="description" name="description"
                            rols="4" maxlegth="100" 
                            [ngModel]="invoiceToShow?.description" 
                            (input)="invoiceToShow.description = $event.target.value"
                            [disabled]="!invoiceUpdate"></textarea>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row mt-2">
              <div class="col-sm-12">
                  <h5 class="text-muted">{{'screen.invoice.label.invoice' | translate}}</h5>
                  <hr/>
              </div>
          </div>
          <div class="row text-right">
              <div class="col-sm-12">
                  <span [ngClass]="[(invoiceToShow?.status == 'OPEN') ? 'bg-secondary pl-3 pt-1 pr-3 pb-1' : '',
                                    (invoiceToShow?.status == 'CANCELED') ? 'bg-light pl-3 pt-1 pr-3 pb-1' : '',
                                    (invoiceToShow?.status == 'PAID') ? 'bg-success pl-3 pt-1 pr-3 pb-1' : '',
                                    (invoiceToShow?.status == 'EXPIRED') ? 'bg-danger pl-3 pt-1 pr-3 pb-1' : '']">{{'screen.invoice.label.status' | translate}}: <strong>{{statusConverterService.convertInvoiceStatus(invoiceToShow?.status)}}</strong></span>
              </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="amount">{{'screen.invoice.label.amount' | translate}}</label>
                    <div class="controls">
                        <div class="input-prepend input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{formatService.getCurrencyFormat()}}</span>
                            </div>
                            <input type="text" class="form-control form-control-sm" id="amount" name="amount"
                            [(ngModel)]="invoiceToShow.amount"
                            currencyMask 
                            [options]="{ 
                              prefix: '', 
                              thousands: formatService.getCurrencyThousandsFormat(), 
                              decimal: formatService.getCurrencyDecimalFormat()}"
                            required [disabled]="!invoiceUpdate">
                        </div>
                    </div>
                </div>
            </div>
            
          </div>
      
          <div class="row ">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="expirationDate" >{{'screen.invoice.label.expirationDate' | translate}}</label>
                      <input type="text"
                      class="form-control form-control-sm text-right" id="expirationDate" name="expirationDate"
                      bsDatepicker 
                      placement="top"
                      [minDate]="minDate"
                      [bsConfig]="{ dateInputFormat: formatService.getDatepickerFormat(), containerClass: 'theme-blue'}"
                      [(ngModel)]="invoiceToShow.expirationDate"
                      required [disabled]="!invoiceUpdate"/>
                  </div>
              </div>
              <div class="col-sm-6" *ngIf="invoiceToShow.paymentDate">
                  <div class="form-group">
                      <label for="paymentDate" >{{'screen.invoice.label.payment' | translate}}</label>
                      <input type="text"
                      class="form-control form-control-sm text-right" id="paymentDate" name="paymentDate"
                      [ngModel]="invoiceToShow?.paymentDate"
                      (input)="invoiceToShow.paymentDate = $event.target.value"
                      [minDate]="minDate"
                      bsDatepicker 
                      placement="top"
                      [bsConfig]="{ dateInputFormat: formatService.getDatepickerFormat(), containerClass: 'theme-blue'}"
                      required disabled/>
                  </div>
              </div>
              <div class="col-sm-6" *ngIf="invoiceToShow.cancelationDate">
                  <div class="form-group">
                      <label for="cancelationDate" >{{'screen.invoice.label.cancelation' | translate}}</label>
                      <input type="text"
                      class="form-control form-control-sm text-right" id="cancelationDate" name="cancelationDate"
                      [ngModel]="invoiceToShow?.cancelationDate"
                      (input)="invoiceToShow.cancelationDate = $event.target.value"
                      [minDate]="minDate"
                      bsDatepicker 
                      placement="top"
                      [bsConfig]="{ dateInputFormat: formatService.getDatepickerFormat(), containerClass: 'theme-blue'}"
                      required disabled/>
                  </div>
              </div>

          </div>
          <div class="row" *ngIf="invoiceToShow?.status =='PAID'">
            <div class="col-sm-6" >
                <div class="form-group">
                    <label for="amount">{{'screen.invoice.label.paidAmount' | translate}}</label>
                    <div class="controls">
                        <div class="input-prepend input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{formatService.getCurrencyFormat()}}</span>
                            </div>
                            <input type="text" class="form-control form-control-sm" id="paidAmount" name="paidAmount"
                            [ngModel]="invoiceToShow?.paidAmount"
                            currencyMask 
                            [options]="{ 
                              prefix: '', 
                              thousands: formatService.getCurrencyThousandsFormat(), 
                              decimal: formatService.getCurrencyDecimalFormat()}"
                            required disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" >
                <div class="form-group">
                    <label for="amount">{{'screen.invoice.label.fees' | translate}}</label>
                    <div class="controls">
                        <div class="input-prepend input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{formatService.getCurrencyFormat()}}</span>
                            </div>
                            <input type="text" class="form-control form-control-sm" id="fees" name="fees"
                            [ngModel]="invoiceToShow?.fees"
                            currencyMask 
                            [options]="{ 
                              prefix: '', 
                              thousands: formatService.getCurrencyThousandsFormat(), 
                              decimal: formatService.getCurrencyDecimalFormat()}"
                            required disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" >
                <div class="form-group">
                    <label for="amount">{{'screen.invoice.label.netAmount' | translate}}</label>
                    <div class="controls">
                        <div class="input-prepend input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{formatService.getCurrencyFormat()}}</span>
                            </div>
                            <input type="text" class="form-control form-control-sm" id="netAmount" name="netAmount"
                            [ngModel]="invoiceToShow?.netAmount"
                            currencyMask 
                            [options]="{ 
                              prefix: '', 
                              thousands: formatService.getCurrencyThousandsFormat(), 
                              decimal: formatService.getCurrencyDecimalFormat()}"
                            required disabled>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          
          <div class="row mt-2" *ngIf="invoiceToShow?.bankBillet">
              <div class="col-sm-12">
                  <h5 class="text-muted">{{'screen.invoice.label.bankBillet' | translate}}</h5>
              </div>
          </div>
          <div class="row" *ngIf="invoiceToShow?.bankBillet">
              <div class="col-sm-12">
                  <div class="form-group">
                      <label for="linhaDigitavel">{{'screen.invoice.label.lineCode' | translate}}</label>
                      <input type="text" class="col form-control form-control-sm" id="linhaDigitavel" name="linhaDigitavel"
                      [ngModel]="invoiceToShow?.bankBillet?.lineCode" disabled>
                  </div>
              </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-secondary" (click)="closeModal('invoiceModal'); invoiceUpdate = false">{{'screen.commons.button.close' | translate}}</button>
              <button type="button" class="btn btn-primary" (click)="updateInvoice(); closeModal('invoiceModal');" *ngIf="invoiceUpdate">{{'screen.commons.button.save' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </ng-template> 