<div class="flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1 class="text-center">{{'screen.changePassword.label.changePassword' | translate}}</h1>
            <hr/>
            <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)">
              <p class="text-muted">{{'screen.changePassword.label.currentPassword' | translate}}</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="{{'screen.changePassword.placeholder.currentPassword' | translate}}" [(ngModel)]="currentPassword">
              </div>
              <p class="text-muted">{{'screen.changePassword.text.newPasswordInfo' | translate}}</p>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="{{'screen.changePassword.placeholder.newPassword' | translate}}" 
                #inputNewPassword
                [(ngModel)]="newPassword">
              </div>

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="{{'screen.changePassword.placeholder.newPasswordConfirmation' | translate}}" 
                #inputNewPasswordConfirmation
                [(ngModel)]="newPasswordConfirmation">
              </div>

              <div class="row">
                
                <div class="col-6">
                  <button class="btn btn-block btn-secondary" type="button" routerLink="/company/transfer/requested-transfer"><span>{{'screen.commons.button.cancel' | translate}}</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-primary btn-ladda" data-style="zoom-out" [ladda]="loaderService.isLoading('changeCompanyPasswordButton')" type="submit"><span>{{'screen.commons.button.save' | translate}}</span></button>
                </div>
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
