<aside class="aside-menu">
    <tabset>
        <tab>
            <ng-template tabHeading><i class="icon-speech"></i></ng-template>
            <div class="p-3">
            <div class="message">
                <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                    <img src="assets/img/avatars/robot.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                </div>
                </div>
                <div>
                <small class="text-muted">Aviso Billing</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Valide seus documentos</div>
                <small class="text-muted">Você precisa validar seus documentos para liberar saques.</small>
            </div>
            <hr>
            <div class="message">
                <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                    <img src="assets/img/avatars/robot.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                </div>
                </div>
                <div>
                <small class="text-muted">Aviso Billing</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Cobrança mensal</div>
                <small class="text-muted">Cadastre seu cliente na cobrança mensal e nós faremos o resto do trabalho.</small>
            </div>
            <hr>
            </div>
        </tab>
    </tabset>

</aside>
